<div *ngFor="let item of data">
    <div *ngIf="item.type ==='text' || item.type ==='number'">
        <input
            type="{{item.type}}"
            id="{{item.id}}"
            [value]="item?.value"
            [name]="item.id"
            [(ngModel)]="model[item.id]"
        >
    </div>
    <div *ngIf="item.type ==='selected'">
        <select [(ngModel)]="model[item.id]">
            <option
                *ngFor="let i of item.data"
                value="{{i.value}}"
            >
                {{i.value || 1}}
            </option>
        </select>
    </div>
    <!-- <div *ngIf="item.type ==='radio'">
        123
    </div>
    <div *ngIf="item.type ==='checkbox'">
        123
    </div> -->
</div>
<button (click)="onClick()">11111111111</button>