.form-group {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-group-item {
        margin-top: 15px;
        width: 300px;
        label {
            margin-right: 10px;
        }
        input {
            width: 100%;
            height: 35px;
        }
        select {
            width: 100%;
            height: 35px;
        }
    }
}
